name: Infrastructure

on:
  push:
    branches:
      - main
      - renovate/*
    tags:
      - v*
  pull_request:
    branches:
      - main

env:
  IMAGE_NAME: ${{ github.repository }}/infrastructure
  REGISTRY: ghcr.io

jobs:
  qa:
    name: Run QA
    strategy:
      matrix:
        VERSION_AWS_CLI:
          # renovate: datasource=github-tags depName=aws/aws-cli versioning=semver
          - "2.13.26"
        VERSION_PYTHON:
          # renovate: datasource=github-tags depName=python/cpython versioning=semver-coerced
          - "3.11.2"
        VERSION_TERRAFORM:
          # renovate: datasource=github-releases depName=hashicorp/terraform versioning=hashicorp
          - "1.6.0"

    runs-on: ubuntu-20.04
    # Container needs to be able to read repo and publish packages.
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Log in to the container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5.0.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=edge,branch=main,suffix=_terraform-${{ matrix.VERSION_TERRAFORM }}_awcli-${{ matrix.VERSION_AWS_CLI }}_python-${{ matrix.VERSION_PYTHON }}
            type=ref,event=pr,suffix=_terraform-${{ matrix.VERSION_TERRAFORM }}_awcli-${{ matrix.VERSION_AWS_CLI }}_python-${{ matrix.VERSION_PYTHON }}
            type=ref,event=tag,suffix=_terraform-${{ matrix.VERSION_TERRAFORM }}_awcli-${{ matrix.VERSION_AWS_CLI }}_python-${{ matrix.VERSION_PYTHON }}

      - name: Build and push container image
        uses: docker/build-push-action@v5
        with:
          context: contexts/infrastructure
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            CI_COMMIT_SHA=${{ github.sha }}
            VERSION_CONTAINER=${{ github.ref_name }}
            VERSION_AWS_CLI=${{ matrix.VERSION_AWS_CLI }}
            VERSION_PYTHON=${{ matrix.VERSION_PYTHON }}
            VERSION_TERRAFORM=${{ matrix.VERSION_TERRAFORM }}

  qa-successful:
    runs-on: ubuntu-20.04
    needs: qa
    if: always()
    steps:
      - name: Success
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - name: Failure
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
